body{
    background: black;
    color: white;
}

.card-columns{
    margin: 10px;
}

.card-text{
    color: black;
}

.card{
    margin: 5px;
}

h3, p{
    color: white;
    text-align: left;
}

h2{
    color: white;
    text-align: left;
    margin-left: 5px;
}

h6{
    color: white;
    text-align: center;
    margin-bottom: 20px;
}
.descriptionColumns{
 border-right: 1px solid white;   
 height: 300px;
}
.character{
    background: black;
    overflow-x: auto;
    white-space: nowrap;
}